h1,
ol,
ul,
li,
button {
    margin: 0;
    padding: 0
}

button {
    border: none;
    background: none
}

body {
    background: #fff
}

body,
input,
button {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124
}

a {
    color: #1a0dab;
    text-decoration: none
}

a:hover,
a:active {
    text-decoration: underline
}

a:visited {
    color: #681da8
}

html,
body {
    min-width: 400px
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0
}

.gb_eb:not(.gb_gd) {
    font: 13px/27px Roboto, Arial, sans-serif;
    z-index: 986
}

@-webkit-keyframes gb__a {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

@keyframes gb__a {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

a.gb_va {
    border: none;
    color: #4285f4;
    cursor: default;
    font-weight: bold;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-user-select: none
}

a.gb_va:hover:after,
a.gb_va:focus:after {
    background-color: rgba(0, 0, 0, .12);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

a.gb_va:hover,
a.gb_va:focus {
    text-decoration: none
}

a.gb_va:active {
    background-color: rgba(153, 153, 153, .4);
    text-decoration: none
}

a.gb_wa {
    background-color: #4285f4;
    color: #fff
}

a.gb_wa:active {
    background-color: #0043b2
}

.gb_xa {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .16)
}

.gb_va,
.gb_wa,
.gb_ya,
.gb_za {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px
}

.gb_ya {
    background: #f8f8f8;
    border: 1px solid #c6c6c6
}

.gb_za {
    background: #f8f8f8
}

.gb_ya,
#gb a.gb_ya.gb_ya,
.gb_za {
    color: #666;
    cursor: default;
    text-decoration: none
}

#gb a.gb_za {
    cursor: default;
    text-decoration: none
}

.gb_za {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(#4387fd), to(#4683ea));
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    background: linear-gradient(top, #4387fd, #4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd, endColorstr=#4683ea, GradientType=0)
}

#gb a.gb_za {
    color: #fff
}

.gb_za:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15)
}

.gb_za:active {
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    background: #3c78dc;
    background: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(#3c7ae4), to(#3f76d3));
    background: -webkit-linear-gradient(top, #3c7ae4, #3f76d3);
    background: linear-gradient(top, #3c7ae4, #3f76d3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4, endColorstr=#3f76d3, GradientType=0)
}

#gb .gb_Aa {
    background: #fff;
    border: 1px solid #dadce0;
    color: #1a73e8;
    display: inline-block;
    text-decoration: none
}

#gb .gb_Aa:hover {
    background: #f8fbff;
    border-color: #dadce0;
    color: #174ea6
}

#gb .gb_Aa:focus {
    background: #f4f8ff;
    color: #174ea6;
    outline: 1px solid #174ea6
}

#gb .gb_Aa:active,
#gb .gb_Aa:focus:active {
    background: #ecf3fe;
    color: #174ea6
}

#gb .gb_Aa.gb_j {
    background: transparent;
    border: 1px solid #5f6368;
    color: #8ab4f8;
    text-decoration: none
}

#gb .gb_Aa.gb_j:hover {
    background: rgba(255, 255, 255, .04);
    color: #e8eaed
}

#gb .gb_Aa.gb_j:focus {
    background: rgba(232, 234, 237, .12);
    color: #e8eaed;
    outline: 1px solid #e8eaed
}

#gb .gb_Aa.gb_j:active,
#gb .gb_Aa.gb_j:focus:active {
    background: rgba(232, 234, 237, .1);
    color: #e8eaed
}

.gb_p {
    display: none !important
}

.gb_Za {
    visibility: hidden
}

.gb_v {
    display: inline-block;
    vertical-align: middle
}

.gb_Pd .gb_o {
    bottom: -3px;
    right: -5px
}

.gb_g {
    position: relative
}

.gb_d {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    cursor: pointer;
    text-decoration: none
}

#gb#gb a.gb_d {
    cursor: pointer;
    text-decoration: none
}

.gb_d,
a.gb_d {
    color: #000
}

.gb_df {
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 11.5px;
    top: 33px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s
}

.gb_ef {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 11.5px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    border-bottom-color: rgba(0, 0, 0, .2);
    top: 32px
}

x:-o-prefocus,
div.gb_ef {
    border-bottom-color: #ccc
}

.gb_3 {
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, .2);
    color: #000;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    display: none;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 62px;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    border-radius: 2px;
    -webkit-user-select: text
}

.gb_v.gb_Ja .gb_df,
.gb_v.gb_Ja .gb_ef,
.gb_v.gb_Ja .gb_3,
.gb_Ja.gb_3 {
    display: block
}

.gb_v.gb_Ja.gb_ff .gb_df,
.gb_v.gb_Ja.gb_ff .gb_ef {
    display: none
}

.gb_Qd {
    position: absolute;
    right: 8px;
    top: 62px;
    z-index: -1
}

.gb_5a .gb_df,
.gb_5a .gb_ef,
.gb_5a .gb_3 {
    margin-top: -10px
}

.gb_v:first-child,
#gbsfw:first-child+.gb_v {
    padding-left: 4px
}

.gb_Na.gb_Rd .gb_v:first-child {
    padding-left: 0
}

.gb_Sd {
    position: relative
}

.gb_t.gb_yd.gb_cb.gb_nd {
    margin: 0 12px;
    padding: 0
}

.gb_t .gb_d {
    position: relative
}

.gb_t .gb_v {
    margin: 0 4px;
    padding: 4px
}

.gb_t .gb_Td {
    display: inline-block
}

.gb_t a.gb_jd {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    border: 0;
    background: #0b57d0;
    color: #fff;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    white-space: nowrap;
    width: auto;
    -webkit-font-smoothing: antialiased
}

.gb_t a.gb_d.gb_jd {
    margin: 0 4px;
    padding: 4px 24px 4px 24px
}

.gb_t a.gb_jd.gb_Ud {
    padding: 9px 12px 9px 16px
}

.gb_t a.gb_jd.gb_x {
    background: transparent;
    border: 1px solid #747775;
    color: #0b57d0;
    outline: 0
}

.gb_t .gb_s {
    fill: #0b57d0
}

.gb_t .gb_A {
    fill: #0b57d0;
    margin-left: 8px
}

.gb_t .gb_A circle {
    fill: #fff
}

.gb_t .gb_jd .gb_Hd {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center
}

.gb_t .gb_jd:hover {
    background: #3763cd
}

.gb_t .gb_jd:hover .gb_A {
    fill: #3763cd
}

.gb_t .gb_jd:focus,
.gb_t .gb_jd:active,
.gb_t .gb_jd:focus:hover,
.gb_t .gb_jd[aria-expanded=true],
.gb_t .gb_jd:hover[aria-expanded=true] {
    background: #416acf
}

.gb_t .gb_jd:focus .gb_A,
.gb_t .gb_jd:active .gb_A,
.gb_t .gb_jd:focus:hover .gb_A,
.gb_t .gb_jd[aria-expanded=true] .gb_A,
.gb_t .gb_jd:hover[aria-expanded=true] .gb_A {
    fill: #416acf
}

.gb_t .gb_jd:hover,
.gb_t .gb_jd:focus,
.gb_t .gb_jd:active,
.gb_t .gb_jd[aria-expanded=true] {
    -webkit-box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3);
    box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3)
}

.gb_t .gb_jd:focus-visible {
    outline: 1px solid #416acf;
    outline-offset: 2px
}

.gb_t .gb_Da:focus-visible {
    outline: 1px solid #416acf
}

.gb_t .gb_j.gb_jd {
    background: #a8c7fa;
    color: #062e6f
}

.gb_t .gb_j.gb_jd .gb_A {
    fill: #a8c7fa
}

.gb_t .gb_j.gb_jd .gb_A circle {
    fill: #062e6f
}

.gb_t .gb_j.gb_jd:hover {
    background: #b4cbf6
}

.gb_t .gb_j.gb_jd:hover .gb_A {
    fill: #b4cbf6
}

.gb_t .gb_j.gb_jd:focus,
.gb_t .gb_j.gb_jd:focus:hover,
.gb_t .gb_j.gb_jd:active,
.gb_t .gb_j.gb_jd[aria-expanded=true],
.gb_t .gb_j.gb_jd:hover[aria-expanded=true] {
    background: #b8cdf7
}

.gb_t .gb_j.gb_jd:focus .gb_A,
.gb_t .gb_j.gb_jd:focus:hover .gb_A,
.gb_t .gb_j.gb_jd:active .gb_A,
.gb_t .gb_j.gb_jd[aria-expanded=true] .gb_A,
.gb_t .gb_j.gb_jd:hover[aria-expanded=true] .gb_A {
    fill: #b8cdf7
}

.gb_t .gb_j.gb_jd:focus-visible {
    outline-color: #b8cdf7
}

.gb_t .gb_j.gb_jd:hover,
.gb_t .gb_j.gb_jd:focus,
.gb_t .gb_j.gb_jd:active,
.gb_t .gb_j.gb_jd[aria-expanded=true] {
    -webkit-box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3);
    box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3)
}

.gb_t .gb_jd.gb_x:hover,
.gb_t .gb_jd.gb_x:focus,
.gb_t .gb_jd.gb_x[aria-expanded=true],
.gb_t .gb_jd.gb_x:hover[aria-expanded=true] {
    background: rgba(11, 87, 208, .08)
}

.gb_t .gb_jd.gb_x:active {
    background: rgba(11, 87, 208, .12)
}

.gb_t .gb_jd.gb_x:focus-visible {
    border-color: #0b57d0;
    outline: 0
}

.gb_t .gb_j.gb_jd.gb_x {
    background: transparent;
    color: #a8c7fa
}

.gb_t .gb_j.gb_jd.gb_x:hover,
.gb_t .gb_j.gb_jd.gb_x:focus,
.gb_t .gb_j.gb_jd.gb_x[aria-expanded=true],
.gb_t .gb_j.gb_jd.gb_x:hover[aria-expanded=true] {
    background: rgba(168, 199, 250, .08)
}

.gb_t .gb_j.gb_jd.gb_x:active {
    background: rgba(168, 199, 250, .12)
}

.gb_t .gb_j.gb_jd.gb_x:focus-visible {
    border-color: #a8c7fa;
    outline: 0
}

.gb_j .gb_t .gb_s {
    fill: #a8c7fa
}

.gb_j .gb_t .gb_Da:focus-visible {
    outline-color: #a8c7fa
}

.gb_3c .gb_Sd,
.gb_f .gb_Sd {
    float: right
}

.gb_d {
    padding: 8px;
    cursor: pointer
}

.gb_d:after {
    content: "";
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px
}

.gb_Na .gb_ie:not(.gb_va):focus img {
    background-color: rgba(0, 0, 0, .2);
    outline: none;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.gb_Vd button svg,
.gb_d {
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.gb_Vd button:focus:not(:focus-visible) svg,
.gb_Vd button:hover svg,
.gb_Vd button:active svg,
.gb_d:focus:not(:focus-visible),
.gb_d:hover,
.gb_d:active,
.gb_d[aria-expanded=true] {
    outline: none
}

.gb_Mc .gb_Vd.gb_re button:focus-visible svg,
.gb_Vd button:focus-visible svg,
.gb_d:focus-visible {
    outline: 1px solid #202124
}

.gb_Mc .gb_Vd button:focus-visible svg,
.gb_Mc .gb_d:focus-visible {
    outline: 1px solid #f1f3f4
}

@media (forced-colors:active) {

    .gb_Mc .gb_Vd.gb_re button:focus-visible svg,
    .gb_Vd button:focus-visible svg,
    .gb_Mc .gb_Vd button:focus-visible svg {
        outline: 1px solid currentcolor
    }
}

.gb_Mc .gb_Vd.gb_re button:focus svg,
.gb_Mc .gb_Vd.gb_re button:focus:hover svg,
.gb_Vd button:focus svg,
.gb_Vd button:focus:hover svg,
.gb_d:focus,
.gb_d:focus:hover {
    background-color: rgba(60, 64, 67, .1)
}

.gb_Mc .gb_Vd.gb_re button:active svg,
.gb_Vd button:active svg,
.gb_d:active {
    background-color: rgba(60, 64, 67, .12)
}

.gb_Mc .gb_Vd.gb_re button:hover svg,
.gb_Vd button:hover svg,
.gb_d:hover {
    background-color: rgba(60, 64, 67, .08)
}

.gb_Ba .gb_d.gb_Da:hover {
    background-color: transparent
}

.gb_d[aria-expanded=true],
.gb_d:hover[aria-expanded=true] {
    background-color: rgba(95, 99, 104, .24)
}

.gb_d[aria-expanded=true] .gb_i {
    fill: #5f6368;
    opacity: 1
}

.gb_Mc .gb_Vd button:hover svg,
.gb_Mc .gb_d:hover {
    background-color: rgba(232, 234, 237, .08)
}

.gb_Mc .gb_Vd button:focus svg,
.gb_Mc .gb_Vd button:focus:hover svg,
.gb_Mc .gb_d:focus,
.gb_Mc .gb_d:focus:hover {
    background-color: rgba(232, 234, 237, .1)
}

.gb_Mc .gb_Vd button:active svg,
.gb_Mc .gb_d:active {
    background-color: rgba(232, 234, 237, .12)
}

.gb_Mc .gb_d[aria-expanded=true],
.gb_Mc .gb_d:hover[aria-expanded=true] {
    background-color: rgba(255, 255, 255, .12)
}

.gb_Mc .gb_d[aria-expanded=true] .gb_i {
    fill: #fff;
    opacity: 1
}

.gb_v {
    padding: 4px
}

.gb_Na.gb_Rd .gb_v {
    padding: 4px 2px
}

.gb_Na.gb_Rd .gb_b.gb_v {
    padding-left: 6px
}

.gb_3 {
    z-index: 991;
    line-height: normal
}

.gb_3.gb_Wd {
    left: 0;
    right: auto
}

@media (max-width:350px) {
    .gb_3.gb_Wd {
        left: 0
    }
}

.gb_Xd .gb_3 {
    top: 56px
}

.gb_l .gb_d,
.gb_2 .gb_l .gb_d {
    background-position: -64px -29px
}

.gb_I .gb_l .gb_d {
    background-position: -29px -29px;
    opacity: 1
}

.gb_l .gb_d,
.gb_l .gb_d:hover,
.gb_l .gb_d:focus {
    opacity: 1
}

.gb_hd {
    display: none
}

@media screen and (max-width:319px) {
    .gb_od:not(.gb_td) .gb_l {
        display: none;
        visibility: hidden
    }
}

.gb_o {
    display: none
}

.gb_bd {
    font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 48px;
    margin-bottom: 2px;
    opacity: 1;
    overflow: hidden;
    padding-left: 16px;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    top: 2px;
    white-space: nowrap;
    -webkit-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto
}

.gb_bd.gb_cd {
    color: #3c4043
}

.gb_Na.gb_Oa .gb_bd {
    margin-bottom: 0
}

.gb_dd.gb_ed .gb_bd {
    padding-left: 4px
}

.gb_Na.gb_Oa .gb_fd {
    position: relative;
    top: -2px
}

.gb_Na {
    color: black;
    min-width: 160px;
    position: relative;
    -webkit-transition: box-shadow 250ms;
    transition: box-shadow 250ms
}

.gb_Na.gb_Uc {
    min-width: 120px
}

.gb_Na.gb_md .gb_nd {
    display: none
}

.gb_Na.gb_md .gb_od {
    height: 56px
}

header.gb_Na {
    display: block
}

.gb_Na svg {
    fill: currentColor
}

.gb_pd {
    position: fixed;
    top: 0;
    width: 100%
}

.gb_qd {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.gb_rd {
    height: 64px
}

.gb_od {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-width: -webkit-min-content;
    min-width: min-content
}

.gb_Na:not(.gb_Oa) .gb_od {
    padding: 8px
}

.gb_Na.gb_sd .gb_od {
    -webkit-flex: 1 0 auto;
    -webkit-box-flex: 1;
    flex: 1 0 auto
}

.gb_Na .gb_od.gb_td.gb_ud {
    min-width: 0
}

.gb_Na.gb_Oa .gb_od {
    padding: 4px;
    padding-left: 8px;
    min-width: 0
}

.gb_nd {
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-user-select: none
}

.gb_wd>.gb_nd {
    display: table-cell;
    width: 100%
}

.gb_dd {
    padding-right: 30px;
    box-sizing: border-box;
    -webkit-flex: 1 0 auto;
    -webkit-box-flex: 1;
    flex: 1 0 auto
}

.gb_Na.gb_Oa .gb_dd {
    padding-right: 14px
}

.gb_xd {
    -webkit-flex: 1 1 100%;
    -webkit-box-flex: 1;
    flex: 1 1 100%
}

.gb_xd>:only-child {
    display: inline-block
}

.gb_yd.gb_4c {
    padding-left: 4px
}

.gb_yd.gb_zd,
.gb_Na.gb_sd .gb_yd,
.gb_Na.gb_Oa:not(.gb_f) .gb_yd {
    padding-left: 0
}

.gb_Na.gb_Oa .gb_yd.gb_zd {
    padding-right: 0
}

.gb_Na.gb_Oa .gb_yd.gb_zd .gb_Ba {
    margin-left: 10px
}

.gb_4c {
    display: inline
}

.gb_Na.gb_Xc .gb_yd.gb_Ad,
.gb_Na.gb_f .gb_yd.gb_Ad {
    padding-left: 2px
}

.gb_bd {
    display: inline-block
}

.gb_yd {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    padding-left: 30px;
    -webkit-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.gb_f {
    height: 48px
}

.gb_Na.gb_f {
    min-width: auto
}

.gb_f .gb_yd {
    float: right;
    padding-left: 32px
}

.gb_f .gb_yd.gb_Bd {
    padding-left: 0
}

.gb_Cd {
    font-size: 14px;
    max-width: 200px;
    overflow: hidden;
    padding: 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-user-select: text
}

.gb_id {
    -webkit-transition: background-color .4s;
    -webkit-transition: background-color .4s;
    transition: background-color .4s
}

.gb_Jd {
    color: black
}

.gb_Mc {
    color: white
}

.gb_Na a,
.gb_Rc a {
    color: inherit
}

.gb_S {
    color: rgba(0, 0, 0, .87)
}

.gb_Na svg,
.gb_Rc svg,
.gb_dd .gb_ld,
.gb_3c .gb_ld {
    color: #5f6368;
    opacity: 1
}

.gb_Mc svg,
.gb_Rc.gb_Vc svg,
.gb_Mc .gb_dd .gb_ld,
.gb_Mc .gb_dd .gb_Lc,
.gb_Mc .gb_dd .gb_fd,
.gb_Rc.gb_Vc .gb_ld {
    color: rgba(255, 255, 255, .87)
}

.gb_Mc .gb_dd .gb_Kc:not(.gb_Kd) {
    opacity: .87
}

.gb_cd {
    color: inherit;
    opacity: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

.gb_Mc .gb_cd,
.gb_Jd .gb_cd {
    opacity: 1
}

.gb_Dd {
    position: relative
}

.gb_Ed {
    font-family: arial, sans-serif;
    line-height: normal;
    padding-right: 15px
}

a.gb_E,
span.gb_E {
    color: rgba(0, 0, 0, .87);
    text-decoration: none
}

.gb_Mc a.gb_E,
.gb_Mc span.gb_E {
    color: white
}

a.gb_E:focus {
    outline-offset: 2px
}

a.gb_E:hover {
    text-decoration: underline
}

.gb_F {
    display: inline-block;
    padding-left: 15px
}

.gb_F .gb_E {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle
}

.gb_Ld {
    font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box
}

.gb_Na.gb_f .gb_Ld {
    margin-left: 8px
}

#gb a.gb_za.gb_Ld {
    cursor: pointer
}

.gb_za.gb_Ld:hover {
    background: #1b66c9;
    -webkit-box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3);
    box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3)
}

.gb_za.gb_Ld:focus,
.gb_za.gb_Ld:hover:focus {
    background: #1c5fba;
    -webkit-box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3);
    box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3)
}

.gb_za.gb_Ld:active {
    background: #1b63c1;
    -webkit-box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3);
    box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3)
}

.gb_Ld {
    background: #1a73e8;
    border: 1px solid transparent
}

.gb_Na.gb_Oa .gb_Ld {
    padding: 9px 15px;
    min-width: 80px
}

.gb_Fd {
    text-align: left
}

#gb .gb_Mc a.gb_Ld:not(.gb_j),
#gb.gb_Mc a.gb_Ld:not(.gb_Md) {
    background: #fff;
    border-color: #dadce0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #1a73e8
}

#gb a.gb_za.gb_j.gb_Ld {
    background: #8ab4f8;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #202124
}

#gb .gb_Mc a.gb_Ld:hover:not(.gb_j),
#gb.gb_Mc a.gb_Ld:not(.gb_Md):hover {
    background: #f8fbff;
    border-color: #cce0fc
}

#gb a.gb_za.gb_j.gb_Ld:hover {
    background: #93baf9;
    border-color: transparent;
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .3)
}

#gb .gb_Mc a.gb_Ld:focus:not(.gb_j),
#gb .gb_Mc a.gb_Ld:focus:hover:not(.gb_j),
#gb.gb_Mc a.gb_Ld:focus:not(.gb_j),
#gb.gb_Mc a.gb_Ld:focus:hover:not(.gb_j) {
    background: #f4f8ff;
    outline: 1px solid #c9ddfc
}

#gb a.gb_za.gb_j.gb_Ld:focus,
#gb a.gb_za.gb_j.gb_Ld:focus:hover {
    background: #a6c6fa;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

#gb .gb_Mc a.gb_Ld:active:not(.gb_j),
#gb.gb_Mc a.gb_Ld:not(.gb_Md):active {
    background: #ecf3fe
}

#gb a.gb_za.gb_j.gb_Ld:active {
    background: #a1c3f9;
    -webkit-box-shadow: 0 1px 2px rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15)
}

.gb_Nd {
    display: none
}

@media screen and (max-width:319px) {
    .gb_od:not(.gb_td) .gb_l {
        display: none;
        visibility: hidden
    }
}

.gb_Ba {
    background-color: rgba(255, 255, 255, .88);
    border: 1px solid #dadce0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    max-height: 48px;
    overflow: hidden;
    outline: none;
    padding: 0;
    vertical-align: middle;
    width: 134px;
    -webkit-border-radius: 8px;
    border-radius: 8px
}

.gb_Ba.gb_j {
    background-color: transparent;
    border: 1px solid #5f6368
}

.gb_Ia {
    display: inherit
}

.gb_Ba.gb_j .gb_Ia {
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    left: 8px;
    margin-right: 5px;
    position: relative;
    padding: 3px;
    top: -1px
}

.gb_Ba:hover {
    border: 1px solid #d2e3fc;
    background-color: rgba(248, 250, 255, .88)
}

.gb_Ba.gb_j:hover {
    background-color: rgba(241, 243, 244, .04);
    border: 1px solid #5f6368
}

.gb_Ba:focus-visible,
.gb_Ba:focus {
    background-color: #fff;
    outline: 1px solid #202124;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15)
}

.gb_Ba.gb_j:focus-visible,
.gb_Ba.gb_j:focus {
    background-color: rgba(241, 243, 244, .12);
    outline: 1px solid #f1f3f4;
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .15), 0 1px 2px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .15), 0 1px 2px 0 rgba(0, 0, 0, .3)
}

.gb_Ba.gb_j:active,
.gb_Ba.gb_Ja.gb_j:focus {
    background-color: rgba(241, 243, 244, .1);
    border: 1px solid #5f6368
}

.gb_Ka {
    display: inline-block;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-top: 2px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    width: 78px
}

.gb_Ba.gb_j .gb_Ka {
    line-height: 26px;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    width: 72px
}

.gb_Ka.gb_La {
    background-color: #f1f3f4;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-left: 8px;
    padding-left: 0;
    line-height: 30px
}

.gb_Ka.gb_La .gb_Ma {
    vertical-align: middle
}

.gb_Na:not(.gb_Oa) .gb_Ba {
    margin-left: 10px;
    margin-right: 4px
}

.gb_Pa {
    max-height: 32px;
    width: 78px
}

.gb_Ba.gb_j .gb_Pa {
    max-height: 26px;
    width: 72px
}

.gb_n {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0px;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0
}

.gb_0a {
    background-color: #e8f0fe;
    border: 1px solid rgba(32, 33, 36, .08);
    position: relative
}

.gb_0a.gb_n {
    height: 30px;
    width: 30px
}

.gb_0a.gb_n:hover,
.gb_0a.gb_n:active {
    -webkit-box-shadow: none;
    box-shadow: none
}

.gb_1a {
    background: #fff;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    bottom: 2px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, .30), 0px 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, .30), 0px 1px 3px 1px rgba(60, 64, 67, .15);
    height: 14px;
    margin: 2px;
    position: absolute;
    right: 0;
    width: 14px
}

.gb_2a {
    color: #1f71e7;
    font: 400 22px/32px Google Sans, Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase
}

@media (-webkit-min-device-pixel-ratio:1.25),
(min-resolution:1.25dppx),
(min-device-pixel-ratio:1.25) {

    .gb_n::before,
    .gb_3a::before {
        display: inline-block;
        -webkit-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: left 0;
        -webkit-transform-origin: left 0;
        transform-origin: left 0
    }

    .gb_K .gb_3a::before {
        -webkit-transform: scale(scale(0.416666667));
        -webkit-transform: scale(scale(0.416666667));
        transform: scale(scale(0.416666667))
    }
}

.gb_n:hover,
.gb_n:focus {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15)
}

.gb_n:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15)
}

.gb_n:active::after {
    background: rgba(0, 0, 0, .1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%
}

.gb_4a {
    cursor: pointer;
    line-height: 40px;
    min-width: 30px;
    opacity: .75;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis
}

.gb_d.gb_4a {
    width: auto
}

.gb_4a:hover,
.gb_4a:focus {
    opacity: .85
}

.gb_5a .gb_4a,
.gb_5a .gb_6a {
    line-height: 26px
}

#gb#gb.gb_5a a.gb_4a,
.gb_5a .gb_6a {
    font-size: 11px;
    height: auto
}

.gb_7a {
    border-top: 4px solid #000;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    display: inline-block;
    margin-left: 6px;
    opacity: .75;
    vertical-align: middle
}

.gb_Da:hover .gb_7a {
    opacity: .85
}

.gb_Ba>.gb_b {
    padding: 3px 3px 3px 4px
}

.gb_8a.gb_Za {
    color: #fff
}

.gb_I .gb_4a,
.gb_I .gb_7a {
    opacity: 1
}

#gb#gb.gb_I.gb_I a.gb_4a,
#gb#gb .gb_I.gb_I a.gb_4a {
    color: #fff
}

.gb_I.gb_I .gb_7a {
    border-top-color: #fff;
    opacity: 1
}

.gb_2 .gb_n:hover,
.gb_I .gb_n:hover,
.gb_2 .gb_n:focus,
.gb_I .gb_n:focus {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .2)
}

.gb_9a .gb_b,
.gb_ab .gb_b {
    position: absolute;
    right: 1px
}

.gb_b.gb_H,
.gb_bb.gb_H,
.gb_Da.gb_H {
    -webkit-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto
}

.gb_cb.gb_db .gb_4a {
    width: 30px !important
}

.gb_m {
    height: 40px;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 40px
}

.gb_eb .gb_m,
.gb_fb .gb_m {
    right: 0;
    top: 0
}

.gb_b .gb_d {
    padding: 4px
}

.gb_q {
    display: none
}

sentinel {}

.cB4NFc {
    padding-top: 16px
}

.wok5vf {
    padding: 24px
}

.v0rrvd {
    padding-bottom: 16px
}

.GUHazd {
    padding-bottom: 12px
}

.OdBhM {
    padding-top: 8px
}

.bvSTKc {
    padding: 8px
}

.TUOsUe {
    text-align: left
}

.yMNJR .qk7LXc {
    max-width: 100%
}

.cJFqsd .qk7LXc {
    height: 100%
}

.rfx2Y .qk7LXc {
    width: 100%
}

@media (min-height:576px) {
    .uSolm .qk7LXc {
        height: 100%
    }

    .uSolm {
        padding: 64px 0px
    }
}

@media (max-height:575px) {
    .uSolm .qk7LXc {
        height: 100%;
        max-height: 448px
    }
}

.BhUHze .qk7LXc {
    width: 75%
}

@media (min-height:496px) {
    .GeOznc .qk7LXc {
        height: 100%
    }

    .GeOznc {
        padding: 24px 0px
    }
}

@media (max-height:495px) {
    .GeOznc .qk7LXc {
        height: 100%;
        max-height: 448px
    }
}

.dgVGnc .qk7LXc {
    width: 90%
}

.KUf18.ivkdbf {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    visibility: inherit
}

.VfsLpf.ivkdbf {
    background-color: #000;
    opacity: .4;
    visibility: inherit
}

.J3Hnlf.ivkdbf {
    background-color: #202124;
    opacity: .7;
    visibility: inherit
}

.X46m8.ivkdbf {
    background-color: #000;
    opacity: .8;
    visibility: inherit
}

.cBoDed.ivkdbf {
    background-color: #f8f9fa;
    opacity: .85;
    visibility: inherit
}

.kyk7qb.ivkdbf {
    background-color: #202124;
    opacity: .6;
    visibility: inherit
}

.qk7LXc.ivkdbf {
    opacity: 1
}

.mcPPZ.ivkdbf {
    opacity: 1;
    visibility: inherit
}

.mcPPZ.nP0TDe {
    cursor: pointer
}

.mcPPZ.nP0TDe .qk7LXc {
    cursor: default
}

.kJFf0c {
    position: fixed;
    z-index: 9997;
    right: 0;
    bottom: -200px;
    top: 0;
    left: 0;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    opacity: 0;
    visibility: hidden
}

.qk7LXc {
    display: inline-block;
    z-index: 9997;
    background-color: #fff;
    opacity: 0;
    white-space: normal;
    overflow: hidden
}

.qk7LXc {
    border-radius: 8px
}

.qk7LXc {
    box-shadow: 0px 5px 26px 0px rgba(0, 0, 0, 0.22), 0px 20px 28px 0px rgba(0, 0, 0, 0.3)
}

.qk7LXc.DJEOfc {
    background-color: transparent
}

.qk7LXc.DJEOfc {
    box-shadow: none
}

.qk7LXc.Fb1AKc {
    position: relative;
    vertical-align: middle
}

.qk7LXc.ulWzbd {
    position: absolute
}

.qk7LXc.P1WYLb {
    border: 1px solid #dadce0;
    box-shadow: #dadce0
}

.mcPPZ {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 9997;
    vertical-align: middle;
    visibility: hidden;
    white-space: nowrap;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto
}

.mcPPZ.xg7rAe {
    text-align: center
}

.mcPPZ::after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.mcPPZ {
    tap-highlight-color: rgba(0, 0, 0, 0)
}

.LjfRsf {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0
}

.VH47ed {
    visibility: hidden
}

.TaoyYc {
    overflow: hidden
}

.qk7LXc.aJPx6e {
    overflow: visible
}

.vAJJzd {
    opacity: .999
}

.xTWltf {
    margin-right: 24px
}

.eJtrMc {
    padding-bottom: 8px;
    padding-top: 8px
}

.Wt5Tfe {
    padding-left: 0px;
    padding-right: 0px
}

.OhScic {
    margin: 0px
}

.zUdppc {
    padding-bottom: 4px
}

.TkZZsf {
    padding-bottom: 4px;
    padding-top: 4px
}

.lgo9kc.vKW4md {
    opacity: .2;
    visibility: inherit
}

.vSyRff.vKW4md {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: inherit
}

.lgo9kc {
    background-color: #000;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1000
}

.lgo9kc.GJyMZe {
    z-index: 9998
}

.lgo9kc.SNco2 {
    z-index: 979
}

.vSyRff {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: opacity .3s 0s ease-in-out, visibility .3s 0s ease-in-out, -webkit-transform .3s 0s ease-in-out;
    transition: opacity .3s 0s ease-in-out, visibility .3s 0s ease-in-out, -webkit-transform .3s 0s ease-in-out;
    transition: transform .3s 0s ease-in-out, opacity .3s 0s ease-in-out, visibility .3s 0s ease-in-out;
    transition: transform .3s 0s ease-in-out, opacity .3s 0s ease-in-out, visibility .3s 0s ease-in-out, -webkit-transform .3s 0s ease-in-out;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    z-index: 1060
}

.vSyRff.GJyMZe {
    z-index: 9999
}

.vSyRff.SNco2 {
    z-index: 980
}

.XEnKRe {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0
}

.jnyxRd {
    background-color: #fff;
    display: inline-block;
    text-align: start;
    width: 100%
}

.ujnsy {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.TpRPV {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px
}

.jnyxRd:focus {
    outline: none
}

.IEBxXd {
    height: 100%
}

.vSyRff .uBEihf {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.vSyRff.fC2KG {
    background-color: #fff;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1), 0 2px 6px 6px rgba(0, 0, 0, 0.06)
}

@media (min-width:320px) {
    .vSyRff.fC2KG {
        bottom: 0;
        left: 0;
        right: 0
    }
}

@media (min-width:480px) {
    .vSyRff.fC2KG {
        display: inline-block;
        bottom: 20px
    }
}

.vSyRff.Y5Ip8c {
    background-color: #fff;
    border-radius: 20px;
    bottom: 40px;
    right: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06)
}

.jnyxRd.Y5Ip8c {
    border-radius: 20px
}

@media (min-width:480px) {
    .JXXsr.fC2KG {
        left: 20px;
        right: auto
    }
}

@media (min-width:480px) {
    .c3k6Zc.fC2KG {
        left: auto;
        right: 20px
    }
}

.vSyRff.kqLqDd {
    bottom: 0;
    left: 0;
    right: 0
}

@media (min-width:480px) {
    .Jm7ege.fC2KG {
        min-width: 380px
    }
}

g-img {
    display: block
}

g-img {
    height: 100%
}

.YQ4gaf {
    display: block;
    border: 0
}

.u9wH7d .YQ4gaf {
    object-fit: fill
}

.mNsIhb .YQ4gaf {
    object-fit: cover
}

.tb08Pd .YQ4gaf {
    object-fit: contain
}

.wA1Bge {
    position: relative
}

.hhtjrc {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none
}

.ZGomKf {
    overflow: hidden
}

.LLO8yd {
    background-color: rgba(0, 0, 0, .03);
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
    left: 0;
    right: 0
}

.LqkKtf {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: none;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    opacity: .999;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%
}

.Iz740d.LqkKtf {
    border-radius: 50%
}

.LqkKtf.DngrPc {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    right: 50%;
    width: 100vw
}

.amp_re {
    position: relative
}

.zsYMMe {
    padding: 0px
}

.QyJI3d {
    background-color: #fff;
    color: #666;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2)
}

.oQcPt {
    background-color: #fff
}

.QyJI3d {
    border: 1px solid rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 9120
}

.nFdFHf {
    -webkit-animation: g-bubble-show .2s forwards;
    animation: g-bubble-show .2s forwards
}

.bE3Kif {
    -webkit-animation: g-bubble-hide .2s forwards;
    animation: g-bubble-hide .2s forwards
}

@-webkit-keyframes g-bubble-show {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes g-bubble-show {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes g-bubble-hide {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes g-bubble-hide {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.QyJI3d.QJnoze {
    border-radius: 12px
}

.QyJI3d.SiOjJb {
    border-left-width: 0;
    border-right-width: 0;
    width: 100%
}

.QyJI3d.PnQMie {
    background-color: #202124;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #dadce0
}

.QyJI3d.LWen5c {
    background-color: #1a73e8;
    border: none;
    color: #fff;
    z-index: 9100
}

.tYmfxe {
    -webkit-transform: translate(2.5px, 1.8px) rotateZ(45deg);
    transform: translate(2.5px, 1.8px) rotateZ(45deg);
    position: absolute;
    z-index: 9121
}

[dir=rtl] .tYmfxe {
    -webkit-transform: translate(-2.5px, 1.8px) rotateZ(45deg);
    transform: translate(-2.5px, 1.8px) rotateZ(45deg)
}

.IBPZu.tYmfxe {
    -webkit-transform: translate(2.5px, -5.7px) rotateZ(45deg);
    transform: translate(2.5px, -5.7px) rotateZ(45deg)
}

[dir=rtl] .IBPZu.tYmfxe {
    -webkit-transform: translate(-2.5px, -5.7px) rotateZ(45deg);
    transform: translate(-2.5px, -5.7px) rotateZ(45deg)
}

.oQcPt {
    border-bottom: none;
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-right: none;
    border-top: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
    height: 13.435px;
    width: 13.435px
}

.IBPZu .oQcPt {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-left: none;
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-top: none
}

.PnQMie .oQcPt {
    background-color: #202124;
    border-color: rgba(0, 0, 0, 0.5)
}

.LWen5c .oQcPt {
    background-color: #1a73e8;
    border: none
}

.nnFGuf {
    display: none
}

.c5aZPb {
    cursor: pointer
}

.Dcltre {
    pointer-events: none
}

.TYQ8Af {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    z-index: -1000;
    top: 3px;
    right: 3px
}

.VDgVie {
    text-align: center
}

.wHYlTd {
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 22px
}

.zJUuqf {
    margin-bottom: 4px
}

.AB4Wff {
    margin-left: 16px
}

.yUTMj {
    font-family: arial, sans-serif;
    font-weight: 400
}

@-webkit-keyframes g-snackbar-show {
    from {
        pointer-events: none;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

@keyframes g-snackbar-show {
    from {
        pointer-events: none;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

@-webkit-keyframes g-snackbar-hide {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes g-snackbar-hide {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes g-snackbar-show-content {
    from {
        opacity: 0
    }
}

@keyframes g-snackbar-show-content {
    from {
        opacity: 0
    }
}

@-webkit-keyframes g-snackbar-hide-content {
    to {
        opacity: 0
    }
}

@keyframes g-snackbar-hide-content {
    to {
        opacity: 0
    }
}

.LH3wG,
.jhZvod {
    bottom: 0;
    height: 0;
    position: fixed;
    z-index: 999
}

.Ox8Cyd {
    height: 0;
    position: fixed;
    z-index: 999
}

.E7Hdgb {
    box-sizing: border-box;
    visibility: hidden;
    display: inline-block
}

.yK6jqe,
.Wu0v9b {
    box-sizing: border-box;
    visibility: hidden
}

.rTYTNb {
    -webkit-animation: g-snackbar-hide .4s cubic-bezier(0.4, 0, 0.2, 1) both;
    animation: g-snackbar-hide .4s cubic-bezier(0.4, 0, 0.2, 1) both;
    visibility: inherit
}

.UewPMd {
    -webkit-animation: g-snackbar-show .5s cubic-bezier(0.4, 0, 0.2, 1) both;
    animation: g-snackbar-show .5s cubic-bezier(0.4, 0, 0.2, 1) both;
    visibility: inherit
}

.b77HKf {
    background-color: #323232;
    padding: 0 24px
}

.rIxsve {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-align: center;
    display: box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.rTYTNb .rIxsve {
    -webkit-animation: g-snackbar-hide-content .35s cubic-bezier(0.4, 0, 0.2, 1) both;
    animation: g-snackbar-hide-content .35s cubic-bezier(0.4, 0, 0.2, 1) both
}

.UewPMd .rIxsve {
    -webkit-animation: g-snackbar-show-content .35s cubic-bezier(0.4, 0, 0.2, 1) .15s both;
    animation: g-snackbar-show-content .35s cubic-bezier(0.4, 0, 0.2, 1) .15s both
}

.Txngnb.Txngnb {
    line-height: 20px
}

.Txngnb {
    box-flex: 1;
    color: #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 14px 0;
    word-break: break-word
}

.sHFNYd {
    margin-right: -8px
}

@media (min-width:569px) and (min-height:569px) {

    .LH3wG,
    .jhZvod {
        text-align: center
    }

    .Wu0v9b,
    .yK6jqe {
        display: inline-block;
        max-width: 568px;
        min-width: 288px;
        text-align: left
    }

    .b77HKf {
        border-radius: 8px
    }

    .sHFNYd {
        margin-left: 40px
    }
}

.V9O1Yd .rIxsve {
    display: block;
    padding: 8px 0
}

.V9O1Yd .sHFNYd {
    margin-left: 0
}

.V9O1Yd .sHFNYd g-flat-button {
    padding-left: 0
}

.jhZvod {
    left: 16px;
    right: auto
}

.LH3wG,
.Ox8Cyd {
    left: 0;
    right: 0
}

.yK6jqe,
.Wu0v9b,
.E7Hdgb {
    position: relative
}

.G9jore {
    position: absolute;
    top: -24px;
    bottom: -24px;
    left: -24px;
    right: -24px
}

.iwY1Mb {
    height: 0;
    opacity: 0;
    display: block
}

.V8fWH {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    -webkit-appearance: none;
    appearance: none;
    z-index: -1000;
    -webkit-user-select: none;
    user-select: none
}

.gW7zSc {
    display: block
}

.CqmPRe:active .aVlTpc span {
    -webkit-animation-timing-function: cubic-bezier(.2, .2, 0, 1);
    animation-timing-function: cubic-bezier(.2, .2, 0, 1);
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

@-webkit-keyframes shape-tween-right {
    50% {
        -webkit-transform: scaleY(.9) translateX(8%);
        transform: scaleY(.9) translateX(8%)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes shape-tween-right {
    50% {
        -webkit-transform: scaleY(.9) translateX(8%);
        transform: scaleY(.9) translateX(8%)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes shape-tween-left {
    50% {
        -webkit-transform: scaleY(.9) translateX(-8%);
        transform: scaleY(.9) translateX(-8%)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes shape-tween-left {
    50% {
        -webkit-transform: scaleY(.9) translateX(-8%);
        transform: scaleY(.9) translateX(-8%)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

.CqmPRe:active .KArJuc span {
    -webkit-animation-name: shape-tween-right;
    animation-name: shape-tween-right
}

.CqmPRe:active .YbCrzd span {
    -webkit-animation-name: shape-tween-left;
    animation-name: shape-tween-left
}

@-webkit-keyframes shape-tween-up {
    50% {
        -webkit-transform: scaleX(.9) translateY(-8%);
        transform: scaleX(.9) translateY(-8%)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes shape-tween-up {
    50% {
        -webkit-transform: scaleX(.9) translateY(-8%);
        transform: scaleX(.9) translateY(-8%)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

.CqmPRe:active .oXqZxc span {
    -webkit-animation-name: shape-tween-up;
    animation-name: shape-tween-up
}

@-webkit-keyframes shape-tween-down {
    50% {
        -webkit-transform: scaleX(.9) translateY(8%);
        transform: scaleX(.9) translateY(8%)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes shape-tween-down {
    50% {
        -webkit-transform: scaleX(.9) translateY(8%);
        transform: scaleX(.9) translateY(8%)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

.CqmPRe:active .TD5FQe span {
    -webkit-animation-name: shape-tween-down;
    animation-name: shape-tween-down
}

.e5KZJf {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .1;
    left: 0;
    top: 0
}

.e5KZJf:active {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: shift;
    animation-name: shift
}

@-webkit-keyframes shift {
    25% {
        background: #3c4043
    }
}

@keyframes shift {
    25% {
        background: #3c4043
    }
}

.sjVJQd {
    font-family: Google Sans, arial, sans-serif-medium, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px
}

.Aajd3 {
    padding-left: 16px
}

.U09Jxd {
    padding-right: 4px
}

.gxMdVd {
    padding-right: 8px
}

.r2fjmd {
    margin-bottom: 0px;
    margin-top: 0px
}

g-dropdown-menu {
    display: inline-block;
    position: relative
}

.Jb0Zif g-dropdown-menu {
    vertical-align: middle
}

.WNN1b {
    background-color: #fff
}

.W4XqN {
    cursor: pointer;
    background-color: #fff
}

.GKXWV {
    border-top: 1px solid #dadce0;
    height: 0;
    margin-left: 5px;
    margin-right: 5px
}

.eNRwyf {
    height: 100%;
    width: 100%
}

.pkWBse {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2)
}

.pkWBse {
    border-radius: 8px
}

.UjBGL {
    display: block
}

.CcNe6e {
    cursor: pointer;
    display: inline-block
}

.iRQHZe {
    position: absolute
}

.Qaqu5 {
    position: relative
}

.shnMoc.CcNe6e {
    display: block
}

.v4Zpbe.CcNe6e {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    width: 100%
}

.PBn44e {
    border-radius: 8px
}

.yTik0 {
    border: none;
    display: block;
    outline: none
}

.wplJBd {
    white-space: nowrap
}

.JM22S::-webkit-scrollbar {
    width: 8px
}

.JM22S::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-right: 4px solid #fff
}

.iQXTJe {
    padding: 5px 0
}

.Zt0a5e.LGiluc {
    border-top-color: #dadce0
}

.Zt0a5e.LGiluc,
.Zt0a5e.EpPYLd[disabled] {
    color: rgba(0, 0, 0, 0.26) !important
}

.CjiZvb,
.GZnQqe.EpPYLd:active {
    background-color: rgba(0, 0, 0, 0.1)
}

.EpPYLd {
    display: block;
    position: relative
}

.YpcDnf {
    padding: 0 16px;
    vertical-align: middle
}

.YpcDnf.HG1dvd {
    padding: 0
}

.HG1dvd>* {
    padding: 0 16px
}

.WtV5nd .YpcDnf {
    padding-left: 28px
}

.Zt0a5e .YpcDnf {
    line-height: 48px
}

.GZnQqe .YpcDnf {
    line-height: 23px
}

.EpPYLd:hover {
    cursor: pointer
}

.EpPYLd,
.CB8nDe:hover {
    cursor: default
}

.LGiluc,
.EpPYLd[disabled] {
    pointer-events: none;
    cursor: default
}

.LGiluc {
    border-top: 1px solid;
    height: 0;
    margin: 5px 0
}

.Zt0a5e.CB8nDe {
    background: no-repeat left 8px center
}

.Zt0a5e.CB8nDe {
    background-image: url(https://ssl.gstatic.com/images/icons/material/system/1x/done_black_16dp.png)
}

.GZnQqe.CB8nDe {
    background: no-repeat left center
}

.GZnQqe.CB8nDe {
    background-image: url(https://ssl.gstatic.com/ui/v1/menu/checkmark2.png)
}

.GZnQqe.LGiluc,
.GZnQqe.EpPYLd[disabled] {
    color: #dadce0 !important
}

.GZnQqe.LGiluc {
    border-top-color: #dadce0
}

.eCcUA,
.cDnxO {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%
}

.rLdWfe {
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.MDfoTd,
.hdqIFe {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.MDfoTd,
.cDnxO {
    opacity: 0
}

.hdqIFe,
.cDnxO {
    overflow: hidden
}

.bKvogb .MDfoTd,
.bKvogb .hdqIFe {
    border-radius: 50%
}

.bKvogb .eCcUA {
    overflow: hidden
}

.LwVyHd {
    -webkit-transition: max-height .3s;
    transition: max-height .3s;
    overflow: hidden
}

.MLgx0e {
    pointer-events: none;
    position: absolute !important;
    right: 0;
    color: #70757a;
    top: 50%;
    margin-top: -12px
}

.FXMOpb .MLgx0e {
    margin-top: -14px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.kGfs {
    position: relative
}

.MLgx0e.chvYFc {
    background: #f7f8f9;
    border-radius: 50%;
    margin-top: -18px;
    padding: 6px
}

.SpKsUc {
    margin: 0 -10px;
    padding: 0 10px
}

.V1sL5c {
    overflow: visible
}

.S8PBwe {
    max-height: 0;
    display: none
}

.Dh17Xe {
    --sY1IGd: #001d35;
    --HVh8he: #ebf1ff;
    --SDQGQc: #001d35;
    --JqDFeb: #d3e3fd;
    --o0W9Kd: #a3c9ff;
    --ncFr3c: #001d35;
    --Hct93e: #e0e9ff;
    --cN2Old: #dadce0;
    --c7pEhe: #d2d2d2;
    --j9YGEd: #edf1f9;
    --whX90c: #fff;
    --XB5uFb: #5e5e5e;
    --Jvm36b: #474747;
    --oBmcEb: #1f1f1f;
    --NkEs6d: #0b57d0;
    --Wpacfd: #747878;
    --F62lI: #1a0dab;
    --u5pem: #d2d2d2;
    --uoLUrf: #0b57d0;
    --zoZLvf: #0b57d0;
    --ojQQT: #f7f8f9;
    --Jk3LHc: #ecedee;
    --Xe9rte: #fff;
    --Xtqjh: #fff;
    --Alm9vb: #f7f8f9
}

.OvQkSb {
    border-radius: 9999px
}

.bNg8Rb {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    z-index: -1000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.jbBItf {
    display: block;
    position: relative
}

.DU0NJ {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.lP3Jof {
    display: inline-block;
    position: relative
}

.nNMuOd {
    -webkit-animation: qli-container-rotate 1568.2352941176ms linear infinite;
    animation: qli-container-rotate 1568.2352941176ms linear infinite
}

@-webkit-keyframes qli-container-rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes qli-container-rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.RoKmhb {
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%
}

.nNMuOd .VQdeab {
    -webkit-animation: qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, qli-blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, qli-blue-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.nNMuOd .IEqiAf {
    -webkit-animation: qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, qli-red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, qli-red-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.nNMuOd .smocse {
    -webkit-animation: qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, qli-yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, qli-yellow-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.nNMuOd .FlKbCe {
    -webkit-animation: qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, qli-green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both, qli-green-fade-in-out 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.BSnLb .nNMuOd .RoKmhb {
    -webkit-animation: qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: qli-fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    opacity: 0.99
}

@-webkit-keyframes qli-fill-unfill-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }

    100% {
        -webkit-transform: rotate(3turn);
        transform: rotate(3turn)
    }
}

@keyframes qli-fill-unfill-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }

    100% {
        -webkit-transform: rotate(3turn);
        transform: rotate(3turn)
    }
}

@-webkit-keyframes qli-blue-fade-in-out {
    0% {
        opacity: 0.99
    }

    25% {
        opacity: 0.99
    }

    26% {
        opacity: 0
    }

    89% {
        opacity: 0
    }

    90% {
        opacity: 0.99
    }

    100% {
        opacity: 0.99
    }
}

@keyframes qli-blue-fade-in-out {
    0% {
        opacity: 0.99
    }

    25% {
        opacity: 0.99
    }

    26% {
        opacity: 0
    }

    89% {
        opacity: 0
    }

    90% {
        opacity: 0.99
    }

    100% {
        opacity: 0.99
    }
}

@-webkit-keyframes qli-red-fade-in-out {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    25% {
        opacity: 0.99
    }

    50% {
        opacity: 0.99
    }

    51% {
        opacity: 0
    }
}

@keyframes qli-red-fade-in-out {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    25% {
        opacity: 0.99
    }

    50% {
        opacity: 0.99
    }

    51% {
        opacity: 0
    }
}

@-webkit-keyframes qli-yellow-fade-in-out {
    0% {
        opacity: 0
    }

    40% {
        opacity: 0
    }

    50% {
        opacity: 0.99
    }

    75% {
        opacity: 0.99
    }

    76% {
        opacity: 0
    }
}

@keyframes qli-yellow-fade-in-out {
    0% {
        opacity: 0
    }

    40% {
        opacity: 0
    }

    50% {
        opacity: 0.99
    }

    75% {
        opacity: 0.99
    }

    76% {
        opacity: 0
    }
}

@-webkit-keyframes qli-green-fade-in-out {
    0% {
        opacity: 0
    }

    65% {
        opacity: 0
    }

    75% {
        opacity: 0.99
    }

    90% {
        opacity: 0.99
    }

    100% {
        opacity: 0
    }
}

@keyframes qli-green-fade-in-out {
    0% {
        opacity: 0
    }

    65% {
        opacity: 0
    }

    75% {
        opacity: 0.99
    }

    90% {
        opacity: 0.99
    }

    100% {
        opacity: 0
    }
}

.beDQP {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%
}

.FcXfi {
    box-sizing: border-box;
    height: 100%;
    left: 45%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 10%
}

.SPKFmc {
    border-radius: 50%;
    border: 3px solid transparent;
    box-sizing: border-box
}

.x3SdXd {
    width: 200%
}

.J7uuUe {
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg)
}

.sDPIC {
    left: -100%;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg)
}

.tS3P5 {
    left: -450%;
    width: 1000%
}

.VQdeab .SPKFmc {
    border-color: #4285f4
}

.IEqiAf .SPKFmc {
    border-color: #ea4335
}

.smocse .SPKFmc {
    border-color: #fbbc04
}

.FlKbCe .SPKFmc {
    border-color: #34a853
}

.RoKmhb .J7uuUe {
    border-bottom-color: transparent;
    border-right-color: transparent
}

.RoKmhb .sDPIC {
    border-bottom-color: transparent;
    border-left-color: transparent
}

.RoKmhb .tS3P5 {
    border-bottom-color: transparent
}

.GgTJWe .nNMuOd .J7uuUe {
    -webkit-animation: qli-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: qli-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.GgTJWe .nNMuOd .sDPIC {
    -webkit-animation: qli-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: qli-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.BSnLb .nNMuOd .J7uuUe {
    -webkit-animation: qli-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: qli-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    border-left-color: #fff;
    border-top-color: #fff
}

.BSnLb .nNMuOd .sDPIC {
    -webkit-animation: qli-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: qli-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    border-right-color: #fff;
    border-top-color: #fff
}

.BSnLb .nNMuOd .tS3P5 {
    border-color: #fff;
    border-bottom-color: transparent
}

@-webkit-keyframes qli-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
}

@keyframes qli-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
}

@-webkit-keyframes qli-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }

    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    100% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}

@keyframes qli-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }

    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    100% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}

.hObAcc {
    margin-left: 4px;
    margin-right: 4px
}

.gTewb {
    padding-left: 8px;
    padding-right: 8px
}

.Bb1JKe {
    padding-bottom: 8px
}

.ouy7Mc {
    padding-left: 16px;
    padding-right: 16px
}

.M8CEed {
    padding-top: 12px
}

sentinel {}

.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px
}

.z1asCe svg {
    display: block;
    height: 100%;
    width: 100%
}